@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200");

/* Box Model */

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
}

/* lightbox is by default a button */
button {
  border-radius: 10px;
  border: 0;
  padding-bottom: 0;
  background-color: #FFB6C1;
  margin-bottom: 2em;
}

/* Basic */

@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}

body {
  background-color: #ffffff;
  /*background-image: linear-gradient(to bottom right, #9370db, #ffb6c1);*/
  background-size: cover;
  background-position: top center;
}

/* Type */

body,
input,
select,
textarea {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 200;
  line-height: 1.65;
}

@media screen and (max-width: 1280px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
  -moz-transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: border-bottom-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  -ms-transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

a:hover {
  color: #000;
  border-bottom-color: transparent;
}

strong,
b {
  color: #000;
  font-weight: 200;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-weight: 200;
  line-height: 1.5;
  margin: 0 0 1em 0;
}

@media screen and (max-width: 980px) {
  h1 br,
  h2 br,
  h3 br,
  h4 br,
  h5 br,
  h6 br {
    display: none;
  }
}

h1 {
  font-size: 1.75em;
}

@media screen and (max-width: 980px) {
  h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 1.25em;
  }
}

h2 {
  font-size: 1.35em;
}

@media screen and (max-width: 736px) {
  h2 {
    font-size: 1em;
  }
}

h3 {
  font-size: 1em;
}

/* Wrapper */

#wrapper {
  max-width: 68em;
  width: 100%;
  margin: 0 auto;
  padding: 0 2em;
}

/* Header */

#header {
  text-align: center;
  padding: 2em 0 2em 0;
}

#header h1 {
  color: rgba(255, 255, 255, 0.65);
}

#header .avatar {
  border-radius: 100%;
  display: inline-block;
  margin: 0 0 1em 0;
  padding: 0.5em;
  border: solid 1px #FFB6C1;
  background-color: rgba(255, 255, 255, 0.075);
}

#header .avatar img {
  border-radius: 100%;
  display: block;
  width: 10em;
}

@media screen and (max-width: 1280px) {
  #header {
    padding: 2em 0 2em 0;
  }
}

/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

.icon.style2 {
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.1s ease;
  border-radius: 100%;
  display: inline-block;
  padding: 0.5em;
  border: solid 1px #FFB6C1 /*rgba(255, 255, 255, 0.25)*/;
  background-color: #FFB6C1 /*rgba(255, 255, 255, 0.075)*/;
  width: 2.5em;
  height: 2.5em;
  color: #696969;
}

.icon.style2:before {
  display: block;
  width: 2.25em;
  height: 2.25em;
  line-height: 1.25em;
  font-size: 1.35em;
}

.icon.style2:hover {
  background-color: #ffffff;
}

@media screen and (max-width: 736px) {
  .icon.style2:before {
    font-size: 1em;
  }
}

/* List */

ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
}

ol li {
  padding-left: 0.25em;
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 1px rgba(255, 255, 255, 0.25);
  padding: 0.5em 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}

ul.icons li:last-child {
  padding-right: 0;
}

/* Thumbnails */

.thumbnails {
  display: flex;
}

.thumbnails > div {
  width: calc(100% / 3);
  padding-left: 2em;
}

@media screen and (max-width: 1280px) {
  .thumbnails {
    margin: 0 0 2em -1.5em;
  }

  .thumbnails > div {
    padding-left: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  .thumbnails {
    display: block;
  }

  .thumbnails > div {
    display: block;
    width: 100%;
  }
}

/* Footer */

#footer {
  color: #000;
  text-align: center;
  padding: 4em 0 4em 0;
}

#footer:before {
  content: '';
  border-top: solid 1px #000;
  width: 10em;
  display: block;
  margin: 0 auto 3em auto;
}

@media screen and (max-width: 1280px) {
  #footer {
    padding: 2em 0 2em 0;
  }
}
